<!DOCTYPE html>
<html lang="en" ng-app="UserApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>
        
        <link rel="stylesheet" href="/animate.css">
        <script src="/registration.js"></script>
</head>
<body ng-controller="UserCtrl as userCtrl">
    <div class="container">
        <h1>User Registration Form</h1>
        <form name="userForm" class="form-inline" novalidate>
            
            <div class="form-group">
                <label>Email:</label> <input type="email" class="form-control" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        placeholder="mooooo@domain.com" name="email" id="email"
                        ng-model="userCtrl.email" required></input>
            </div>
            <div class="form-group">
                <label>Password:</label> <input type="password" 
                        pattern="(?=.*\W+)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        class="form-control" placeholder="make it complicated" 
                        ng-model="userCtrl.password" required
                        name="password" id="password" 
                        title="Password must contain at least 8 character, 
                            both upper and lowercase letters, digit and special characters."></input>
            </div>
            <div class="form-group">
                <label>Name:</label><input type="text" class="form-control" 
                        placeholder="how may i address you?" name="name" id="name"
                        ng-model="userCtrl.name" required></input>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="gender" value="female" name="gender" ng-model="userCtrl.gender" required>
                        <code>Female</code>
                    </label>
                    <label>
                        <input type="radio" name="gender" value="male" name="gender" ng-model="userCtrl.gender" required>
                        <code>Male</code>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Date of Birth:</label><input type="date" class="form-control" 
                        ng-model="userCtrl.dob" name="dob" id="dob" 
                        title="You must be at least 18 years old" required></input>
            </div>
            <div class="form-group">
                <label>Address:</label><textarea type="text" class="form-control" 
                        placeholder="where should i send mailers to?" rows="3"
                        ng-model="userCtrl.address" name="address" id="address" required></textarea>
            </div>
            <div class="form-group">
                <label>Country:</label> <input type="text" class="form-control" placeholder="where in the world?" 
                        ng-model="userCtrl.country" name="country" id="country" required></input>
            </div>
            <div class="form-group">
                <label>Contact Number:</label><input type="text" class="form-control" 
                        placeholder="numbers only pls"
                        pattern="\d*" name="contactno" id="contactno"
                        ng-model="userCtrl.contactno" required></input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="userCtrl.submitButton()" 
                        ng-disabled="userForm.$invalid">
                        Submit <i class="fa fa-glass" aria-hidden="true"></i>
                </button>
                <span ng-show="!userCtrl.ready">You're not done yet...</span>
                <span ng-show="userCtrl.ready">Alright, you're done with the registration!</span>
            </div>
        </form>
    </div>
    <!--output-->
    <div class="container">
        <h3>Output Test</h3>
        <table class="table table-striped">
            <thead>
                <td><label>Email</label></td>
                <td><label>Name</label></td>
                <td><label>Gender</label></td>
                <td><label>Date of Birth</label></td>
                <td><label>Address</label></td>
                <td><label>Country</label></td>
                <td><label>Contact No.</label></td>

            </thead>
            <tbody>
            <tr ng-repeat="i in userCtrl.viewUser">
                <td>{{i.email}}</td>
                <td>{{i.name}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.address}}</td>
                <td>{{i.country}}</td>
                <td>{{i.contactno}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>